/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --bgColor: #151619;
    --primary-color: #1D1F22;
    --secondary-color: #2B2D31;
    --accent-color: #35393F;
    --dark-gray: #5A6069;
    --primary-gray: #7C8187;
    --secondary-gray: #C1C4CB;
    --accent-gray: #E4E4E4;
    --light-gray: #F5F5F5;
    --white: #FFFFFF;
    --orange: #E46643;
    --light-orange: #F39765;

    --font-size-medium: 0.9375rem;
    --font-size-small: 0.875rem;
    --font-size-light: 0.8125rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* dark-mode */

/* light mode */